@model ProyectsMVC.Logica.Models.ViewModel.PruebaDetailsViewModel


@{
    ViewBag.Title = "Prueba";
}

<h2>Prueba</h2>

<div class="form-group">
    <div class="col-md-12">
        @Html.DisplayNameFor(m => m.NivelDescripcion)
        @Html.TextBoxFor(m => m.NivelDescripcion, new { @class = "form-control", @readonly = "readonly"  })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.DisplayNameFor(m => m.PruebaDescripcion)
        @Html.TextBoxFor(m => m.PruebaDescripcion, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <br />
        <button type="submit" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
        @Html.ActionLink("Ir a preguntas", "Create", "Preguntas", null, new { @class = "btn btn-primary" })
    </div>
</div>