@model ProyectsMVC.Logica.Models.BindingModel.ProyectCreateBindingModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Title)
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Details)
            @Html.EditorFor(m => m.Details, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.ExpectedCompletionDate)
            @Html.EditorFor(m => m.ExpectedCompletionDate, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <br />
            <button id="btnCreateProyect" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
            @Html.ActionLink(" ", "Index", "Proyect", null, new { @class = "btn btn-primary fas fa-undo-alt" })
        </div>
    </div>

<script>
    $(function () {
        $('#btnCreateProyect').click(function () {
            CreateProyect();
        });
    });

    function CreateProyect() {

        var projectsCreateBindingModel = {
            'Title': $('#Title').val(),
            'Details': $('#Details').val(),
            'ExpectedCompletionDate': $('#ExpectedCompletionDate').val()
        };

        $.post('/ProjectsJson/Create', projectsCreateBindingModel).done(function (data) {
            var isSuccessful = data.IsSuccessful;

            if (isSuccessful) {
                window.location.href = '/ProjectsJson/Index';
            } else {
                var errors = data.Errors;
                displayValidationErrors(errors);
            }
        });
    }
</script>