@model ProyectsMVC.Logica.Models.ViewModel.PreguntasGetRespuestasViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Cuestionario</h2>

<form action="/Preguntas/Create" method="post">
     
    @Html.HiddenFor(m => m.PruebaId)

    <div class="form-row">
        <div class="col-md-6">
            @Html.HiddenFor(m => m.Codigo)
            <label>@Model.Descripcion</label>

            @Html.DropDownListFor(m => m.RespuestaId, new SelectList(Model.Respuestas, "Codigo", "Descripcion"), new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.PregCodigo, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-12">
            <br />
            <button type="submit" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
            @Html.ActionLink(" ", "Details", "Pruebas", null, new { @class = "btn btn-primary fas fa-undo-alt" })
        </div>
    </div>
</form>