@model ProyectsMVC.Models.ViewModel.InicioProyectViewModel
@{
    ViewBag.Title = "Retorno";
}

<h2>Retorno</h2>

<label>Name:</label>
<input type="text" name="Name" value="@Model.Name" />

<label>Titte:</label>
<input type="text" name="Title" value="@Model.Title" />



<label>Details:</label>
<input type="text" name="Details" value="@Model.Details" />


<label>Details:</label>
<input type="text" name="PercentageAdvance" value="@Model.PercentageAdvance" />

<label>Details:</label>
<input type="text" name="ExpectedCompletionDate" value="@Model.ExpectedCompletionDate" />



