@model ProyectsMVC.Logica.Models.BindingModel.EncuestaCreateBindingModel
@{
    ViewBag.Title = "Create";
}

<h2>Encuesta general</h2>

<form action="/Encuesta/Create" method="post">
    @Html.HiddenFor(m => m.RegiCedula)

    <br />
    <br />
    <div class="form-row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.RegiCedula)
            @Html.DropDownListFor(m => m.EnCodigo, new SelectList(ViewBag.Encuesta, "EnCodigo", "EnDescripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EnCodigo, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.EnDescripcion)
            @Html.DropDownListFor(m => m.EnCodigo, new SelectList(ViewBag.Encuesta, "EnCodigo", "EnDescripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EnCodigo, "", new { @class = "text-danger" })
        </div>
    </div>


    <br />
    <div class="form-row">
        <div class="col-md-12">
            <br />
            <button type="submit" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
            @Html.ActionLink("Actualizar", "Create", "Encuesta", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</form>