@model ProyectsMVC.DAL.Models.States

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>States</h4>
    <hr />
    <table class="table table-bordered table-info">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("  Edit", "Edit", "States", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink(" ", "Index", "States", null, new { @class = "btn btn-primary fas fa-undo-alt" })
</p>
