@model ProyectsMVC.DAL.Models.tbPreguntas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbPreguntas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pregDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pregDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPrueba.prueNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPrueba.prueNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pregCodigo }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
