@model IEnumerable<ProyectsMVC.DAL.Models.tbRespuestas>

@{
    ViewBag.Title = "Index";
}

<h2>Modificar Respuestas</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.respDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respCorrectas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbPreguntas.pregDescripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.respDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respCorrectas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbPreguntas.pregDescripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.respCodigo }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.respCodigo }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.respCodigo }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
