@model ProyectsMVC.Logica.Models.ViewModel.ConfirmCreateSaleViewModel
@{
    ViewBag.Title = "Confirm Sale";
}

<h2>Confirm Sale</h2>
<br />
<form action="/Products/Index" method="post" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-4">
            <img class="card-img-top" src="~/Images/Products/@Html.DisplayFor(m => m.guid)" height="240" width="60" alt="Card image cap">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.productsName, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.productsName, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.description, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.description, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.categoryName, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.categoryName, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.quantity, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.quantity, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.subtotal, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.subtotal, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.metodoPago, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.metodoPago, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.total, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.total, new { @class = "col-md-6 form-control", Style = "background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <br />
            <button type="submit" value="" class="btn btn-primary">Volver a Inicio</button>
        </div>
    </div>
    <br />
</form>
