@model ProyectsMVC.Logica.Models.ViewModel.ProductsCreateDetailsViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Products Details</h2>

<br />
<form action="/ProductDetail/Create" method="post" enctype="multipart/form-data">

    @Html.HiddenFor(m => m.Id)
    <div class="form-row">
        <div class="form-group col-md-4">
            <img class="card-img-top" src="~/Images/Products/24bcdfed-f543-4700-9ea7-3c1d61c65ed0.jpeg" height="250" width="50" alt="Card image cap">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Category, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Category, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Name, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Price, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.ShippingCost, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.ShippingCost, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Quantity, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Quantity, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @type = "number", min=1 })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Warranty, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Warranty, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.States, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.States, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-12 control-label" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.Description, new { @class = "col-md-6 form-control", Style="background:#FFFFFF80;", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <br />
            <button type="submit" value="Comprar" class="btn btn-primary"><i class="fas fa-save" ></i></button>
        </div>
    </div>

</form>