@model ProyectsMVC.Logica.Models.BindingModel.TasksCreateBindingModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@Html.HiddenFor(m => m.proyectId)
<div class="form-row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })

    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.Details)
        @Html.EditorFor(m => m.Details, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>

<div class="form-row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.ExpirationDate)
        @Html.EditorFor(m => m.ExpirationDate, new { htmlAttributes = new { @class = "form-control" } })

    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.IsCompleted)
        <br />
        @Html.CheckBoxFor(m => m.IsCompleted, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>

<div class="form-row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.Effort)
        @Html.EditorFor(m => m.Effort, new { htmlAttributes = new { @class = "form-control" } })

    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.RemainigWork)
        @Html.EditorFor(m => m.RemainigWork, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>

<div class="form-row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.StateId)
        @Html.DropDownListFor(m => m.StateId, new SelectList(ViewBag.States, "Id", "Name"), new { @class = "form-control" })


    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.ActivityId)
        @Html.DropDownListFor(m => m.ActivityId, new SelectList(ViewBag.Activities, "Id", "Name"), new { @class = "form-control" })


    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        @Html.LabelFor(m => m.PriorityId)
        @Html.DropDownListFor(m => m.PriorityId, new SelectList(ViewBag.Priorities, "Id", "Name"), new { @class = "form-control" })


    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <br />
        <button id="btnCreateProyect" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
        @Html.ActionLink(" ", "Index", "Proyect", null, new { @class = "btn btn-primary fas fa-undo-alt" })
    </div>
</div>

<script>
    $(function () {
        $('#btnCreateProyect').click(function () {
            CreateTasks();
        });
    });

    function CreateTasks() {

        var TasksCreateBindingModel = {
            'Title': $('#Title').val(),
            'Details': $('#Details').val(),
            'ExpirationDate': $('#ExpirationDate').val(),
            'IsCompleted': $('#IsCompleted').val(),
            'Effort': $('#Effort').val(),
            'RemainigWork': $('#RemainigWork').val(),
            'StateId': $('#StateId').val(),
            'ActivityId': $('#ActivityId').val(),
            'PriorityId': $('#PriorityId').val()
        };

        $.post('/TasksJson/Create', TasksCreateBindingModel).done(function (data) {
            var isSuccessful = data.IsSuccessful;

            if (isSuccessful) {
                window.location.href = '/TasksJson/Index';
            } else {
                var errors = data.Errors;
                displayValidationErrors(errors);
            }
        });
    }
</script>