@model ProyectsMVC.DAL.Models.tbPrueba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbPrueba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prueNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prueNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbNiveles.niveDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbNiveles.niveDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prueCodigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
