@model IEnumerable<ProyectsMVC.DAL.Models.tbPrueba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prueNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbNiveles.niveDescripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prueNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbNiveles.niveDescripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.prueCodigo }) |
                @Html.ActionLink("Details", "Details", new { id = item.prueCodigo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.prueCodigo })
                @Html.ActionLink("Iniciar", "Create", "Preguntas", new { pruebaId = item.prueCodigo }, new { @class = "" })

                @Html.ActionLink("result", "Index", "Preguntas", new { pruebaId = item.prueCodigo }, new { @class = "" })
            </td>
        </tr>
    }

</table>
